  /* Navigation*/
  .navbar {
    background-color: transparent;
  }
  .scrolling-navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .top-nav-collapse {
    background-color: #2196f3;
  }
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #2196f3 ;
    }
  }

  /* Necessary for full page carousel*/
  html,
  body,
  .view {
    height: 100%;
  }

  /* Carousel*/
  .carousel,
  .carousel-item,
  .carousel-item.active {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }

  .img-carousel-full{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .vertical-center {
    margin-top: 100px;
  }
